*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Using root to set the color without typing the name of color */
:root {
    --main-color: red;
}
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.logo { 
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1 {
    margin: 20px;
    color: var(--main-color);
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul{
    display: flex;
    
}
.nav ul li{
    text-decoration: none;
    list-style: none;
    margin-right: 52px;

}
header .bar {
    color: white;
}
main {
    width: 100%;
    height: 500px;
    background-color: #B8B8B8;
    display: flex;
    justify-content: space-evenly;
}
.content {
    background-color: #B8B8B8;
    height: 100%;
    width: 40%;
    padding: 65px;
}
.content p {
    margin: 20px 0 px;
    
}
.content button {
    background-color: var(--main-color);
    color: white;
    padding: 2px 25px;
    border: none;
    font-size:13px;
    margin-bottom: 30px;
}
.thre-points ul{
    display: flex;
    align-items: center;
}
.thre-points ul li{
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
}
.thre-points ul .the-one {
    background-color: var(--main-color);
    width: 15px;
    height: 15px;
}
.pic {
    background-color: green;
    height: 100%;
    width: 40%;
}
.pic img {
    width: 100%;
    height: 100%;
    
}
footer {
    width: 100%;
    height: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h1 {
    /* Using position relative to use the before. */
    position: relative;
}
footer h1::before {
    content: '';
    position: absolute;
    background-color: var(--main-color);
    width: 60px;
    height: 4px;
    top: 60px;
    left: 140px;
}
/* Using media for the responsive */
@media (max-width:430px){
    .nav {
        display: none;
    }
    .logo {
        padding-left: 50px;
    }
    header .bar {
        display: flex;
        color: black;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        width: 100px;
        height: 100%;
    }
    main {
        display: flex;
        justify-content: space-between;
    }
    main .content {
        width: 50%;
        height: 100%;
        padding: 0px;
        
        
    }
    .content h1 {
        margin-top: 40px;
        padding-left: 20px;

    }
    .content p {
        padding-left: 20px;
    }
    .content button {
        margin-left: 20px;
    }
    main .pic{
       width: 50%;
    }
    footer h1::before {
        content: '';
        position: absolute;
        background-color: var(--main-color);
        width: 50px;
        height: 4px;
        top: 40px;
        left: 100px;
    }

    
    }